<form method="post" action="{{ path('app_medicament_delete', {'id': medicament.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">

          <a class="btn btn-primary" href="{{ path('app_medicament_all') }}"><i class="fa fa-plus me-2"></i>Delete</a>
</form>
