{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div id="calendrier" style="width: 80%; margin: auto;"></div>
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendrier');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            
        });
        calendar.render();
    });  
</script>
{% endblock %}
