{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

    {{ parent() }}
   <div class="container mt-5 text-center">
        <img src="{{ asset('img/7017156.png') }}" alt="Success Icon" class="img-fluid mb-4" style="width: 100px;">
    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your business!
        But your payment failed 
        
    </p>

<div>

</div>
{% endblock %}